@model IEnumerable<Projeto01.Models.BookAuthor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookAuthorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookAuthorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookAuthorId })
        </td>
    </tr>
}

</table>
